server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/shoppy
    username: ${POSTGRES_USER:shoppy}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
