spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shoppy
    username: shoppy
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /users/v3/api-docs
    config-url: /users/v3/api-docs
    urls:
      - name: Users API
        url: /users/v3/api-docs
