server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/shoppy
    username: ${POSTGRES_USER:shoppy}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /order/v3/api-docs
    config-url: /order/v3/api-docs
    urls:
      - name: Order API
        url: /order/v3/api-docs
