spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shoppy
    username: shoppy
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  swagger-ui:
    disable-swagger-default-url: true
    url: /supports/v3/api-docs
    config-url: /supports/v3/api-docs
    urls:
      - name: Supports API
        url: /supports/v3/api-docs
